@charset "utf-8";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, cursive;
}

#aboutus {
  margin-top: 130px;
  margin-left: 150px;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 550px;
  height: 340px;
  opacity: 50%;
  font-size: 20px;
  text-align: justify;
}

#contact {
  margin-top: 30px;
  margin-left: 150px;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 350px;
  height:90px;
  opacity: 50%;
  font-size: 20px;
}

#members {
  margin-top: -530px;
  margin-left: 830px;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 500px;
  height: 50px;
  opacity: 50%;
  text-align: center;
  line-height: 14px;
}

#andrew {
  margin-top: 35px;
  margin-left: 830px;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 500px;
  height: 130px;
  opacity: 50%;
  line-height: 23px;
}

#azza {
  margin-top: 30px;
  margin-left: 830px;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 500px;
  height: 130px;
  opacity: 50%;
  line-height: 23px;
}

#felise {
  margin-top: 30px;
  margin-left: 830px;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 500px;
  height: 130px;
  opacity: 50%;
  line-height: 23px;
}

.body{
    min-height: 200vh;
}

.background
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #4e63db);
    background-attachment: fixed;
    overflow:hidden;
}

.tipstudy-title{
    position: absolute;
    margin: 5vh 35%;
    text-align: center;
}

.tipstudy-title h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive;
    flex-direction: column;
}

.tipstudy-title p{
    color: #fff;
}

.extra-buttons{
    float: right;
    list-style: none;
    margin-top: -75px;
    padding-right: 15px;
}

.extra-buttons li a:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.extra-buttons li{
    display: inline-block;
}

.extra-buttons li a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.moon
{
    position: relative;
    top: 50px;
    left: 175px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1000;
}

.moon::after
{
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #4e63db);
    background-attachment: fixed;
}

.kono-amigos {
    position: absolute;
    top: -80px;
    left: -200px;
    width: 100%;
    z-index: 1000;
    transform: scale(0.11);
}

.city
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.2);
}

.background i
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear reverse;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #d3d3d3;
    color: black;
    border: 3px solid #000; 
    border-radius: 40px/24px;
  }
  
  .button1:hover {
    background-color: #fdfdfd;
    color: grey;
    opacity: 60%;
  }

  .top-container {
    background-color: #1e3f66;
    padding: 30px;
    text-align: center;

  }

  .top-container a{
    font-family: "Comfortaa" ,sans-serif;
    font-size:30px;
    color: white;
    text-decoration: none;
  }
  
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #2E5984;
    color: #f1f1f1;
    z-index: 1001;
    opacity: 70%;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .tabs{
    list-style: none;
    text-align: center;
    margin-top: 5px;
    font-family: "Comfortaa", sans-serif;
    
  }

  .tabs li{
    display: inline-block;
  }

.tabs li a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}

.background-journal{
  position:absolute; 
  top: 35%; 
  left: 9.6%; 
  background-color:rgba(255,255,255,0); 
  z-index:1001;
  width: 80%;
  height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.button-journal {
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  height: 100px;
  left: 4.5%;
  position: absolute;
  box-shadow: 3px 5px #888888;
}

.show-journal{
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  height: 100px;
  left: 4.5%;
  position: absolute;
  box-shadow: 3px 5px #888888;
}

.journal-visual{
  background-color: #fff; 
  opacity: 0.6;
  z-index:1003;
  top: 40%;
  left: 16%;
  width: 70%;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  color: #000;
  text-align: center;
}

.button-popup-journal{
  position: relative;
}

.popup {
  display: none;
  position: relative;
  z-index: 1;
  bottom: 25%;
  width: 100%;
  height: 200px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  box-shadow: 3px 5px #000;
}

.popup form{
  margin: auto;
}

.add-entry{
  margin: auto;
  overflow: auto;
  position:inherit;
  left: 5%;
}

.background-journal label{
  color: white;
  opacity: 70%;
}
