@charset "utf-8";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, cursive;
}

.body{
    min-height: 200vh;
}

.background
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #4e63db);
    background-attachment: fixed;
    overflow:hidden;
}

.tipstudy-title{
    position: absolute;
    margin: 5vh 35%;
    text-align: center;
}

.tipstudy-title h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive;
    flex-direction: column;
}

.tipstudy-title p{
    color: #fff;
}

.extra-buttons{
    float: right;
    list-style: none;
    margin-top: -75px;
    padding-right: 15px;
}

.extra-buttons li a:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.extra-buttons li{
    display: inline-block;
}

.extra-buttons li a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.moon
{
    position: relative;
    top: 50px;
    left: 175px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1000;
}

.moon::after
{
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #4e63db);
    background-attachment: fixed;
}

.city
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.2);
}

.background i
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear reverse;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #d3d3d3;
    color: black;
    border: 3px solid #000; 
    border-radius: 40px/24px;
  }
  
  .button1:hover {
    background-color: #fdfdfd;
    color: grey;
    opacity: 60%;
  }

  .top-container {
    background-color: #1e3f66;
    padding: 30px;
    text-align: center;

  }

  .top-container a{
    font-family: "Comfortaa" ,sans-serif;
    font-size:30px;
    color: white;
    text-decoration: none;
  }
  
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #2E5984;
    color: #f1f1f1;
    z-index: 1001;
    opacity: 70%;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .tabs{
    list-style: none;
    text-align: center;
    margin-top: 5px;
    font-family: "Comfortaa", sans-serif;
    
  }

  .tabs li{
    display: inline-block;
  }

.tabs li a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}

.background-journal{
  position:absolute; 
  top: 35%; 
  left:10%; 
  background-color:rgba(255,255,255,0.5); 
  z-index:1001;
  width: 1200px;
  height: 500px;
}